Package: com.rob311.cleverpinflipswitch
Name: CleverPin Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 5.0), com.filippobiga.cleverpin
Version: 1.0.0
Architecture: iphoneos-arm
Description: A Flipswitch for Cleverpin
Maintainer: rob311 <rob@rob311.com>
Author: rob311 <rob@rob311.com>
Section: Addons (Flipswitch)
Homepage: http://cydia.rob311.com/
Depiction: http://cydia.rob311.com/tweaks/cleverpinflipswitch/depiction.php
Icon: http://cydia.rob311.com/tweaks/cleverpinflipswitch/cleverpinflipswitch@2x.png